# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
out/
build/
.next/

# Environment variables (Crucial!)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
